<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Создать заказ</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container-fluid" style="max-width: 800px; margin: 0 auto;">
    <h2 class="text-center">Создать заказ</h2>

    <div class="my-3">
        <form th:action="@{/createOrder}" th:object="${orderRequestDto}" method="post">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="userName">Имя клиента:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="userName" placeholder="Введите имя клиента"
                           th:field="*{username}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="phoneNumber">Мобильный телефон:</label>
                <div class="col-sm-9">
                    <input type="tel" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="orderDate">Дата заказа:</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control datepicker" id="orderDate" th:field="*{orderDate}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="orderTimeFrom">Время начала заказа:</label>
                <div class="col-sm-9">
                    <input type="time" class="form-control" id="orderTimeFrom" th:field="*{orderTimeFrom}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="orderTimeTo">Время окончания заказа:</label>
                <div class="col-sm-9">
                    <input type="time" class="form-control" id="orderTimeTo" th:field="*{orderTimeTo}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="orderLocation">Место проведения мероприятия:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="orderLocation"
                           placeholder="Введите место проведения мероприятия" th:field="*{orderLocation}" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="comment">Введите комментарий (необязательно):</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="comment" placeholder="Введите комментарий"
                           th:field="*{orderComment}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {
        // Add mask to phone number input
        $('#phoneNumber').mask('+375999999999', {placeholder: '+375'});
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</body>
</html>
