<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Управление заказами</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container-fluid" style="max-width: 1280px; margin: 0 auto;">

    <div class="my-3">
        <div class="row d-flex">
            <div class="col-md-6 mt-2">
                <div class="btn-group" role="group" aria-label="Show area">
                    <a id="btnAll" class="btn btn-secondary" th:href="@{'/orders'}">Все</a>
                    <a id="btnNew" class="btn btn-secondary" th:href="@{'/orders/new'}">Новые</a>
                    <a id="btnFuture" class="btn btn-secondary" th:href="@{'/orders/next'}">Предстоящие</a>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <form th:action="@{/orders/search}" id="searchForm">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input id="keyword" type="search" name="keyword" th:value="${keyword}" required
                               class="form-control"
                               placeholder="Введите имя или номер телефона">
                        <button type="submit" class="btn btn-secondary">Поиск</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${orders.size() > 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th>ID заказа</th>
                <th>Имя клиента</th>
                <th>Телефон</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Место</th>
                <th>Комментарий</th>
                <th>Подтверждение</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <th scope="row">[[${order.orderId}]]</th>
                <td>[[${order.username}]]</td>
                <td>[[${order.phoneNumber}]]</td>
                <td>[[${order.orderDate}]]</td>
                <td>[[${order.orderTime}]]</td>
                <td>[[${order.orderLocation}]]</td>
                <td>[[${order.orderComment}]]</td>
                <td>
                    <div th:if="${order.orderState.equals('НОВЫЙ')}">
                        <a th:href="@{'/orders/' + ${order.orderId} + '/accept'}" title="Подтвердить"
                           class="fa-regular fa-square-plus icon-dark"></a>
                        &nbsp;
                        <a th:href="@{'/orders/' + ${order.orderId} + '/decline'}" title="Отклонить"
                           class="fa-regular fa-square-minus icon-dark"></a>
                    </div>
                    <div th:if="${!order.orderState.equals('НОВЫЙ')}">
                        <div th:switch="${order.orderState}">
                            <span th:case="'ПРИНЯТ'" style="color: green;">[[${order.orderState}]]</span>
                            <span th:case="'ОТКЛОНЕН'" style="color: red;">[[${order.orderState}]]</span>
                        </div>
                    </div>
                </td>
                <td>
                    <a th:href="@{'/orders/' + ${order.orderId} + '/edit'}" title="Редактировать заказ"
                       class="fa-regular fa-pen-to-square icon-dark"></a>
                    &nbsp;
                    <a th:href="@{'/orders/' + ${order.orderId} + '/delete'}" th:orderTitle="${order.orderId}"
                       id="btn-delete"
                       title="Удалить заказ" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="" th:unless="${orders.size() > 0}">
        <span>Заказы отсутсвуют!</span>
    </div>

</div>

<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтверждение удаления</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            var link = $(this);

            var orderTitle = link.attr("orderTitle");
            var deleteUrl = link.attr("href");

            // Set modal content
            $("#confirmText").html("Вы действительно хотите удалить заказ # <strong>" + orderTitle + "</strong>?");

            // Update 'Yes' button href
            $("#yesBtn").attr("href", deleteUrl);

            // Manually show the modal
            $("#confirmModal").modal("show");
        });

    });
</script>
</body>

</html>